@media (max-width: 1440px) {

    #about .aboutBottom {
        width: 95%;
        gap: 0 3rem;
    }

    .buttons {
        width: 45%;
    }
}

@media (max-width: 1024px) {
    .buttons {
        width: 45%;
    }

    #contact-footer form {
        width: 90%;
    }

    #blogs .blogscontent {
        width: 870px;
        gap: 3rem;
    }
}

@media (max-width: 1280px) {
    nav .navbar .navright .mediaLinks a span {
        display: none;
    }

    .Maincontent {
        flex-direction: column;
        margin-top: 5rem;
    }

    #about .aboutBottom {
        flex-direction: column;
        gap: 5rem 0;
    }

    .buttons {
        width: 51%;
    }
}

@media (max-width: 768px) {
    html {
        font-size: 58%;
    }

    header nav {
        padding: 4rem 2rem;
    }

    nav .navbar .navright .searchIcon {
        display: flex;
    }

    nav .navbar .navright .searchBar {
        display: none;
    }

    header hr {
        width: 95%;
    }

    .sidebar {
        left: 20px;
    }

    .main-section {
        margin: 4rem auto;
    }

    .Maincontent .mainRight {
        flex-direction: column;
        margin-left: 3.5rem;
        gap: 3rem;
    }

    #about .aboutBottom .aboutLeft .aboutPara {
        width: 80rem;
    }

    .buttons {
        width: 85%;
    }

    #blogs .blogscontent {
        width: 650px;
        gap: 3rem;
    }

}

@media (max-width: 430px) {
    html {
        font-size: 40%;
    }

    nav .navbar .navright .mediaLinks a {
        display: none;
    }

    #about .aboutBottom .aboutLeft .aboutPara {
        width: 63rem;
        padding: 1.5rem;
    }

    #about .aboutBottom img {
        width: 350px;
        height: auto;
    }

    #skills .skillsTop p { 
        font-size: 15rem;
        left: 10rem;
    }

    .worksSlider .workcard img {
        width: 90%;
    }

    .buttons {
        width: 90%;
    }

    #blogs .blogscontent {
        flex-direction: column;
        width: 400px;
    }
}

@media (max-width: 390px) {
    nav .logo {
        font-size: 2.8rem;
    }

    nav .navbar {
        gap: 2rem;
    }

    .Maincontent .mainRight .right1 .subPara p br {
        display: none;
    }

    .Maincontent .mainRight .right1 .subHeading h1,
    .Maincontent .mainRight .right1 .subHeading h1 span {
        font-size: 5.5rem;
    }

    .Maincontent .mainRight .right1 .para {
        text-align: center;
    }

    #about .aboutBottom .aboutLeft .aboutPara {
        width: 58rem;
        height: 35.3rem;
    }

    #skills .skillBoxes {
        flex-direction: column;
    }

    .buttons {
        width: 90%;
    }

    #blogs .blogscontent {
        width: 360px;
    }

    #contact-footer form {
        width: 80%;
        flex-direction: column;
    }

    #contact-footer form .inputs:nth-child(1),
    #contact-footer form .inputs:nth-child(2) {
        width: 100%;
    }

    #contact-footer form .inputs:nth-child(3) {
        margin-top: 0;
    }

    #contact-footer footer {
        gap: 1rem;
        justify-content: center;
    }

    #skills .skillsTop p {
        font-size: 12rem;
        left: 10rem;
    }
}

@media (max-width: 360px){
    #about .aboutBottom .aboutLeft .aboutPara {
        width: 55rem;
    }

}

@media (max-width: 320px) {
    html {
        font-size: 35%;
    }

    #about .aboutBottom img {
        width: 300px;
        height: auto;
    }

    #blogs .blogscontent {
        width: 300px;
    }
}